<nav class="nav navbar-fixed-top" style="margin-top: 50px">
<ol id="square" class="breadcrumb" style="margin-bottom: 0px">
    <li><a href="/country_list"><i class="fa fa-arrow-left"> Countries</i></a></li>
  <li class="active">Sweden</li>
</ol>
</nav>

<div class="panel panel-default" style="margin-top: 70px">
  <div class="panel-heading"><h2><i class="fa fa-flag fa-lg"></i> Sweden</h2></div>
  <div class="panel-body">
      <blockquote>
        <p>Some interesting fact about Sweden!</p>
        <footer>Some Swedish news source</footer>
      </blockquote>
    <h4>Data:</h4>
    <div class="list-group">
        <a class="list-group-item active"><i class="fa fa-medkit fa-lg"></i><b> Data Group 1</b></a>
        <a class="list-group-item">Informational Stat</a>
    </div>
    <div class="list-group">
        <a class="list-group-item active"><i class="fa fa-users fa-lg"></i><b> Data Group 2</b></a>
        <a class="list-group-item">Informational Stat</a>
        <a class="list-group-item">Informational Stat</a>
    </div>
    <div class="list-group">
        <a class="list-group-item active"><i class="fa fa-plane fa-lg"></i><b> Data Group 3</b></a>
        <a class="list-group-item">Informational Stat</a>
    </div>
      
      
      
      
  </div>
</div>