<nav class="nav navbar-fixed-top" style="margin-top: 50px">
<ol id="square" class="breadcrumb" style="margin-bottom: 0px">
    <li><a href="/welcome"><i class="fa fa-arrow-left"> Home</i></a></li>
  <li class="active">Search</li>
</ol>
</nav>

<h2 style="text-align: center; margin-top: 100px">Find a Country...</h2>

<div class="col-md-12">
    <div style="text-align: center; display: block; float: inside">
        <div class="form-group ">
            <label style="text-decoration : underline; font-size: 20px" class="col-md-12">Occupation</label>
            <div class="container">
                <select  class=" form-control col-md-4" style=" margin-bottom: 3%">
                    <option>-- Select an Industry</option>
                    <option>Medicine</option>
                    <option>Engineering</option>
                    <option>Business</option>
                </select>
                <select class="form-control col-md-4" style=" margin-bottom: 3%">
                    <option>-- Select a field --</option>
                    <option>Pediatrician</option>
                    <option>Surgeon</option>
                    <option>Nurse</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label style="text-decoration: underline; font-size: 20px" class="col-md-12">Religious Affiliation</label>
            <div class="container">
                 <select  class="col-md-3 form-control" style=" margin-bottom: 3%">
                    <option>-- Select an Industry</option>
                    <option>Medicine</option>
                    <option>Engineer</option>
                    <option>Business</option>
                </select>
                <select class="col-md- form-control"style=" margin-bottom: 3%">
                    <option>-- Select a field --</option>
                    <option>Pediatrician</option>
                    <option>Surgeon</option>
                    <option>Nurse</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label style="text-decoration: underline;font-size: 20px"class="col-md-12">Nationality</label>
            <div class="container">
                <select  class="col-md-3 form-control" style=" margin-bottom: 3%">
                    <option>-- Select an Nationality --</option>
                    <option>American</option>
                    <option>Syrian</option>
                    <option>Mexican</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label style="text-decoration: underline; font-size: 20px" class="col-md-12">Preferred Climate</label>
            <div class="container">
                <select  class="col-md-3 form-control" style=" margin-bottom: 3%">
                    <option>-- Select an Climate --</option>
                    <option>Temperate</option>
                    <option>Humid</option>
                    <option>Dry</option>
                </select>
            </div>
        </div>
        <button onclick="location.href = '/country_list';" class="btn btn-success btn-lg ">Find Countries</button>
    </div>
</div>
