<div class="container text-center">
    
    <br>
    <h1><i class="fa fa-language fa-3x" style="width:100%;"></i></h1>
    <br>
    <br>
    
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-success btn-lg"><h1>أهلا بك</h1></button>
        <button type="button" class="btn btn-success btn-lg"><h1>Bienvenue</h1></button>
        <button type="button" class="btn btn-success btn-lg"><h1>Willkommen</h1></button>
        <button type="button" class="btn btn-success btn-lg" onclick="location.href = '/welcome';"><h1>Welcome</h1></button>

    </div>
</div>