
	<div class="container text-center">
		<h1 style="text-align: center; font-size: 60px"><b>مرحبا</b></h1>
        <br>
        <h4> <b>Apricity</b> is here to help refugees seek appropriate countries in line with their background and interests. </h4>
        <br>
		<div class="row">
			<div class="col-xs-4" id="home_icon"> 
				<i class="fa fa-check-square-o fa-5x" style="width:100%;"></i>
                Choose your <b class="text-success"><i>path</i></b>
			</div>
			<div class="col-xs-4" id="home_icon"> 
				<i class="fa fa-plane fa-5x" style="width:100%;"></i>
				Pick your <b class="text-success"><i>preferences</i></b>
			</div>
			<div class="col-xs-4" id="home_icon">  
				<i class="fa fa-smile-o fa-5x" style="width:100%;"></i>
				Match with a <b class="text-success"><i>country</i></b>
			</div>
		</div>
        <br>
        <br>
        <br>
		
        <button type="button" class="btn btn-success btn-lg btn-block" onclick="location.href = '/search';">Match with a Country</button>
        <div class="btn-group btn-block">
            <button type="button" class="btn btn-block btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
                Learn about a Country
            </button>
            <ul class="dropdown-menu" role="menu">
            <li><a href="/country">Sweden</a></li>   
            </ul>
        </div>

	</div>






